################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/dummy_include/GLFW
/src/preprocess.txt
/.cache